<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" type="image/png" href="https://orig00.deviantart.net/ba64/f/2017/348/b/4/slay_the_spire_by_clarence1996-dbwodla.png">
    <title>Index</title>
</head>
<body>
<h1>Slay the Spire Tier List</h1>
<h3>Search By...</h3>

<div class="container">
    <ul>
    <li><a id="ironclad" class="btn btn-danger" href="ironclad">Ironclad</a>
    </li>
    <li>
    <a id="silent" class="btn btn-success" href="silent">Silent</a>
    </li>
    <li>
    <a id="relics" class="btn btn-yellow" href="relics">Relics</a>
    </li>
    </ul>
</div>

</body>
</html>