<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Silent Deck</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.9.0/riot+compiler.min.js"></script>
    <script type="riot/tag" src="../static/riot/Relics.tag"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Relic.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="https://orig00.deviantart.net/ba64/f/2017/348/b/4/slay_the_spire_by_clarence1996-dbwodla.png">
</head>
<body>
<cardTable></cardTable>

<script>
    riot.mount('*')

</script>
</body>
</html>